<p id="notice"><%= notice %></p>

<div class="outer">
  <div class="inner little">Resumen</div>
</div>

<div id="squares" class="row">
  <div class="col-md-3">
    <div>
      <strong>Total de Comunidades</strong>
      <p><%= @communities.length %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div>
      <strong>Media de atraso</strong>
      <p><%= @average_delay %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div>
      <strong>Atraso sobre 10 días</strong>
      <p><%= @over_10_days %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div>
      <strong>Máximo atraso</strong>
      <p><%= @max_delay %></p>
    </div>
  </div>
</div>

<div class="outer">
  <div class="inner little">Detalle de Mantenciones por Equipo</div>
</div>

<div class="outer">
  <div class="inner little">Histórico de Gastos de Mantención y Ranking de Administradores</div>
</div>

<a href="/checks" class="btn btn-default">Ingresar nuevo chequeo</a>